body{
    background-color: rgb(104, 104, 253);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(66, 60, 60);
    border: 2px white solid;
    border-radius: 10px;
    padding: 3px;
}

#container {
    padding: 0px;
    display: flex;
    border: 2px rgb(66, 60, 60) solid;
    box-sizing: content-box;
    width: 500px;
    height: 500px;
    flex-wrap: wrap;
    align-items: center;
}

.grid{
    background-color: white;
    margin: 0px;
    padding: 0px;
    flex: 1, 1, auto;
    border: 1px rgb(66, 60, 60) solid;
    flex-wrap: wrap;
}

#botoes {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    gap: 15px;
    width: 400px;
}

#limpar, #configure, #colorido, #preto{
    background-color: rgb(66, 60, 60);
    color: white;
    font-size: large;
    font-weight: bolder;
    border: 2px white solid;
    border-radius: 10px;
    height: 45px;
}

.mudarCor{
    margin: 0px;
    padding: 0px;
    flex: 1, 1, auto;
    border: 1px blue solid;
    flex-wrap: wrap;
    background-color: white;
}

#container-cor{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#tela {
    display: flex;
    width: 500px;
    height: 500px;
    gap: 10px;
}

#tituloModoJogo{
    margin: 5px;
    text-align: center;
    color: white;
    font-size: large;
    font-weight: bolder;
}

#lateral{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#flex{
    display: flex;
    gap: 10px;
}